{% extends "base.njk" %}
{% block content %}
  <h1>Asignar árbitro</h1>

 {# TODO EXAMEN:
   - Mostrar la información básica del partido (equipos y fecha), indicando el árbitro actualmente asignado (si existe).
   - Crear un formulario con un <select> para elegir árbitro.
   - El formulario debe enviarse por POST a /matches/:id/referee.
 #}
  <p>Vista pendiente de implementar</p>

{% endblock %}
