<nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
    <div class="container-fluid">
        <div class="navbar-nav flex-row gap-3">
            <a class="nav-link" href="/matches">Partidos</a>
            <a class="nav-link" href="/referees">Árbitros</a>
        </div>
    </div>
</nav>
