{% extends "base.njk" %}
{% block content %}
  <h1>Editar árbitro</h1>

  {# TODO EXAMEN: 
   - Implementar el formulario de edición del árbitro. El campo name debe ser editable, el campo licenseNumber debe mostrarse visible pero deshabilitado (disabled), y los posibles errores de validación deben mostrarse encima del campo correspondiente.
  #}
  <p>Vista pendiente de implementar</p>
{% endblock %}
